/* Smart Phones And Tablets */
@media (max-width:767px){
	.navbar-inverse .navbar-nav > li > a{
		padding-top:10px;
		padding-bottom:10px;
	}
	.about h1{
		font-size:28px;
	}
	.about .lead{
		font-size:21px;
	}
	.subscribe .form-control{
		margin: 20px auto;
		width: 90%;
	}
	.navbar-fixed-top .navbar-collapse, 
	.navbar-fixed-bottom .navbar-collapse{
		max-height:none;
	}
}

/* Small Screens */

@media (max-width:768px) and (max-width:991px ){

}

/* Medium Screens */

@media (max-width:992px) and (max-width:1199px){

}

/* Large Screens */

@media (max-width:1200px){

}