body{
	padding-top: 70px;
	overflow: hidden; 
}
h1,h2,h3,h4,h5,h6,.lead{ 
	font-family: 'Droid Sans', sans-serif;
}

/******* Start Overriding Bootstrap *******/

/* Main Nav Bar */
.navbar{
	min-height:70px;
}
/* Nav Bar Link */
.navbar-inverse .navbar-nav > li > a{
	color:#BBB;
	padding-top:25px;
	padding-bottom: 25px;
	font-size:16px;
}
/* Brand color */
.navbar-inverse .navbar-brand{
	color:#BBB;
	font-size:30px;
	line-height:40px;
}


/* DropDown Menu */
.dropdown-menu{
	background-color:#333;
	min-width:200px;
}
.navbar-right .dropdown-menu{
	left:0;
	right:auto;
}
.dropdown-menu > li > a{
	color:#FFF;
	padding:6px 20px;
	-webkit-transition:padding .5s ease;
	-moz-transition:padding .5s ease;
	-o-transition:padding .5s ease;
	transition:padding .5s ease;
}
.dropdown-menu > li > a:hover, 
.dropdown-menu > li > a:focus{
	color:#FFF;
	padding-left:25px;
}
.dropdown-menu .divider{
	background-color:#871818;
}
/* Nav Bar-toggle */
.navbar-toggle{
	margin-top:18px;
}
/* Carousel */
.carousel-caption{
	bottom:68px;
	background-color: rgba(0, 0, 0,0.6);
	padding-right:20px;
	padding-left:20px;
}
.carousel-indicators li{
	height: 14px;
	width: 14px;
	border-radius:50%;
	border:1px solid #eee;

}
.carousel-indicators .active{
	width: 16px;
	height: 16px;
}
.carousel-inner > .item > img{
	width: 100%;
}
/***** End Overriding Bootstrap *****/

/* Start Section Tool-box */
.option-box{
	position: fixed;
	top:100px;
	left:0;
	z-index:9999;
}
.option-box .color-option{
	float: left;
	background: #333;
	color:#FFF;
	padding: 10px;
	width: 150px;
	display: none;
}
.option-box .color-option ul li{
	width: 20px;
	height: 20px;
	display: inline-block;
	margin:0 1.5px;
	cursor:pointer;
}
.option-box .gear-check{
	padding: 5px;
	color:#FFF;
	cursor:pointer;
}
/* End Section Tool-box */
/* Start About Section */
.about .lead{
	color:#888;
	font-size:25px;
	margin-top:15px;
}
.about h1{
	font-weight:bold;
}
/* End About Section */
/* Start Section Features */
.features{
	background-color:#CCC;
}
.features .row{
	overflow: hidden;
}
.features .feat p{
	line-height:2em;
	margin-bottom: 30px;
}
.features .feat span.glyphicon{
	font-size:30px;
	margin-bottom: 10px;
}
/* End Section Features */
/* Start Section Tesimonials */
.testimonials .lead{
	line-height:2em;
	margin-bottom: 10px;
}
.testimonials span{
	font-size:18px;
	font-weight:bold;
}
.testimonials .carousel-inner{
	min-height:160px;
}
.testimonials .carousel-indicators{
	position: static;
	width: 100%;
	margin-left: auto;
	padding-top: 20px;
}
.testimonials .carousel-indicators li{
	text-indent:0;
	width: 80px;
	height: 80px;
	opacity:.4;
	border:2px solid #fff;
	border-radius:50%;
	overflow: hidden;
	margin: 5px;
	-webkit-transition:all 1.3s ease;
	-moz-transition:all 1.3s ease;
	-o-transition:all 1.3s ease;
	transition:all 1.3s ease;
}
.testimonials .carousel-indicators li.active{
	opacity:1;
	width: 80px;
	height: 80px;
	background:none;
}
.testimonials .carousel-indicators li img{
	max-width:100%;
}
/* End Section Tesimonials */
/* Start Price Table Tesimonials */
.price{
	background: #EEE;
}
section.price{
	overflow: hidden;
}
.price .price-box{
	background: #FFF;
	padding: 10px;
	border:1px solid #DDD;
	margin-bottom: 15px;
}
.price .price-box h2{
	margin:5px 0 15px;
}
.price .price-box:hover p{
	-webkit-transform:scale(1.2,1.2) rotate(360deg);
	-moz-transform:scale(1.2,1.2) rotate(360deg);
	-o-transform:scale(1.2,1.2) rotate(360deg);
	transform:scale(1.2,1.2) rotate(360deg);
	border:2px solid #DFDFDF;
}
.price .price-box p{
	font-size:35px;
	font-weight: bold;
	color:#666;
	width: 100px;
	height: 100px;
	background: #F3F3F3;
	border-radius:50%;
	line-height:100px;
	border:2px solid #FFF;
	-webkit-transition-duration:.7s;
	-moz-transition-duration:.7s;
	-o-transition-duration:.7s;
	transition-duration:.7s;
}
.price .price-box ul{
	line-height:250%;
	font-size:18px;
}
.price .price-box a{
	margin-bottom: 5px;
}
/* End Price Table Tesimonials */
/* Start Section Our Team */
.our-team{
	background: url('../img/32.jpg') no-repeat center center fixed;
	min-height:600px;	
}
.our-team .team{
	background: rgba(2, 2, 2, 0.65);
	color:#FFF;
	min-height:600px;
}
.our-team .person a i{
	color:#DDD;
	opacity:.5;
}
.our-team .person a i:hover{
	color:#FFF;
	opacity:1;
}
.our-team .person{
	margin-bottom: 40px;
}
/* End Section Our Team */

/* Start Section Subscribe */
.subscribe{
	padding-top: 40px;
	padding-bottom: 60px; 
	background: #EEE;
}
.subscribe .h1{
	color:#888;
	letter-spacing:2px;
	margin-bottom: 20px;
}
.subscribe p{
	margin-bottom: 30px;
}
.subscribe .form-control{
	border-radius:0;
	margin-right: -5px;
	width: 300px;
}
.subscribe button{
	border-radius: 0;
}
/* End Section Subscribe */
/* Start Section Statistics */
.statistics{
	background: url('../img/123.jpg') no-repeat center center fixed;
	min-height:300px;
}
.statistics .data{
	background: rgba(2, 2, 2, 0.7);
	color:#B6B5B5;
	min-height:300px;
	padding-top: 40px;
	padding-bottom: 70px;
}
.statistics .stats{
	margin-bottom: 30px;
}
.statistics .stats:hover{
	color:#FFF;
}
.statistics p{
	font-size:54px;
	font-weight:bold;
	margin-bottom: 0;
}
.statistics span{
	font-size:18px;
}
/* End Section Statistics */
/* Start Section Our-Skills */

.skills h3{
	font-weight: bold;
	margin-top: 0;	
}
.skills .progress{
	height:36px;
}
.skills .progress-bar{
	line-height:36px;
	font-size: 15px;
	font-weight: bold;
	text-align: left;
	text-indent:10px;
}
/* End Section Our-Skills */
/* Start Section Contact us */
.contact-us{
	background: url('../img/apple.jpg') no-repeat center center fixed;
	min-height:300px;
}
.contact-us .fields{
	background: rgba(9, 9, 9, 0.65);
	min-height:300px;
	color:#DDD;
	padding-top: 40px;
	padding-bottom: 40px;
}
.contact-us p{
	margin-bottom: 40px;
}
.contact-us textarea{
	height:108px;
}
.contact-us input[type="text"],
.contact-us textarea{
	background: rgba(82, 78, 78, 0.5);
	color:#FFF;
	border:none;
}
/* End Section Contact us */
/* Start Section Our Clients */
.our-clients{
	background: #EEE;
	padding-top:20px;
	padding-bottom: 20px;
}
.our-clients img{
	opacity:.4;
	filter:alpha(opacity=40);
	margin-top: 20px;
	margin-bottom: 20px;
}
.our-clients img:hover{
	opacity:1;
}
/* End Section Our Clients */
/* Start Section Ultimate Footer */
.footer{
	background: #111;
	color:#AAA;
	padding-top: 10px;
}
.footer a{
	color:#AAA;
}
.footer a:hover{
	color:#FFF;
}
.footer h3{
	letter-spacing:1px;
	margin: 30px 0 20px;
}
.footer .three-columns{
	overflow: hidden;
}
.footer .three-columns li{
	width: 33.3333%;
	float: left;
	padding: 5px 0;
}
.footer .social-list{
	overflow: hidden;
	margin: 20px 0 10px;
}
.footer .social-list li{
	float: left;
	margin-right: 3px;
	opacity:.4;
	filter:alpha(opacity:40);
}
.footer .social-list li:hover{
	opacity:1;
}
.footer .img-thumbnail{
	background: rgba(0, 0, 0, 0.2);
	border:1px solid #444;
	margin-bottom: 5px;
}
.footer .copyright{
	background: #333;
	color:#AAA;
	padding: 15px 0;
	margin-top:30px;
	font-size:18px;
	line-height:18px;
}
/* End Section Ultimate Footer */
/* Star Section Loading */
.loading-overlay{
background: #222;
color:#fff;
position: absolute;
left:0;
top:0;
width: 100%;
height: 100%;
z-index:99999;
}
.spinner {
  width: 75px;
  height: 75px;
  background-color: #FFF;

  margin:300px auto;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}
@-webkit-keyframes sk-rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}
@keyframes sk-rotateplane {
  0% { 
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
  } 50% { 
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
  } 100% { 
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
/* End Section Loading */
/* Start Scroll to top  */
#scroll-top{
	width: 50px;
	height: 40px;
	background: #272727;
	color:#DDD;
	text-align: center;
	position: fixed;
	right:15px;
	bottom:10px;
	z-index:99999;
	display: none;
	cursor:pointer;
}
#scroll-top:hover{
	background: #444;
}
/* End Scroll to top  */
/* Start Grouping System  */
.contact-us, .statistics, .our-team{
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
}
.features .h1,
.testimonials .h1,
.price .h1,
.our-team .h1,
.statistics .h1,
.skills .h1{
	margin-bottom: 50px;
}
.footer .social-list li,
.our-clients img,
.statistics .stats,
.our-team .person a i
{
	-webkit-transition:all .4s ease-in-out;
	-moz-transition:all .4s ease-in-out;
	-o-transition:all .4s ease-in-out;
	transition:all .4s ease-in-out;
}
.about, .features, .testimonials,
.price, .our-team .team, .skills{
	padding-top: 30px;
	padding-bottom: 50px;
}
/* End Grouping System  */
/*Start Hover.css Edits*/

/* Grow */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* Grow Rotate */
.hvr-grow-rotate {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow-rotate:hover, .hvr-grow-rotate:focus, .hvr-grow-rotate:active {
  -webkit-transform: scale(1.1) rotate(4deg);
  transform: scale(1.1) rotate(4deg);
}

	/* Float Shadow */
.hvr-float-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-float-shadow:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  /* W3C */
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform, opacity;
  transition-property: transform, opacity;
}
.hvr-float-shadow:hover, .hvr-float-shadow:focus, .hvr-float-shadow:active {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  /* move the element up by 5px */
}
.hvr-float-shadow:hover:before, .hvr-float-shadow:focus:before, .hvr-float-shadow:active:before {
  opacity: 1;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
  /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}

/* Wobble Vertical */
@-webkit-keyframes hvr-wobble-vertical {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }

  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }

  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }

  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }

  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes hvr-wobble-vertical {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }

  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }

  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }

  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }

  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.hvr-wobble-vertical {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.hvr-wobble-vertical:hover, .hvr-wobble-vertical:focus, .hvr-wobble-vertical:active {
  -webkit-animation-name: hvr-wobble-vertical;
  animation-name: hvr-wobble-vertical;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
/*End Hover.css Edits*/

/* Smart Phones And Tablets */
@media (max-width:767px){
	.navbar-inverse .navbar-nav > li > a{
		padding-top:10px;
		padding-bottom:10px;
	}
	.about h1{
		font-size:28px;
	}
	.about .lead{
		font-size:21px;
	}
	.subscribe .form-control{
		margin: 20px auto;
		width: 90%;
	}
	.navbar-fixed-top .navbar-collapse, 
	.navbar-fixed-bottom .navbar-collapse{
		max-height:none;
	}
}
